.button {
  color: var(--dark-grey);
  height: 65px;
  background-color: var(--green);
  &::after {
    content: url("./icon-arrow-right.svg");
    padding-left: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}
