.button {
  color: var(--dark-grey);
  height: 65px;
  background-color: var(--green);
  border: none;
  &:hover {
    cursor: pointer;
    background-color: var(--dark-grey);
    border: solid var(--green) 2px;
    color: var(--green);
  }
  @media (max-width: 600px) {
    height: 56px;
  }
}
.arrow {
  margin-left: 24px;
}
