.container {
  background-color: var(--very-dark-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 72px;
}
.description {
  font-size: var(--font-medium);
  width: auto;
}
