.container {
  background-color: var(--dark-grey);
  height: 80px;
  margin-bottom: var(--padding-regular);
  padding: 0 var(--padding-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    padding: 0 var(--padding-regular-mobile);
    height: 64px;
  }
}
.inputForCopy {
  position: absolute;
  left: -10000px;
}
.copyContainer {
  display: flex;
  align-items: center;
}
.copyIcon {
  width: 21px;
  height: 24px;
  margin-left: 12px;
  &:hover {
    cursor: pointer;
  }
  &.inactive:hover {
    cursor: default;
  }
}
