@font-face {
  font-family: "jetbrains";
  src: url("fonts/JetBrainsMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* colors */
  --very-dark-grey: #18171f;
  --almost-white: #e6e5ea;
  --grey: #817d92;
  --dark-grey: #24232c;
  --green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
  /* typography */

  --font-large: 32px;
  --font-large-mobile: 24px;
  --font-medium: 24px;
  --font-medium-mobile: 18px;
  --font-body: 18px;
  --font-body-mobile: 16px;
  /* positioning */
  --padding-regular: 32px;
  --padding-regular-mobile: 16px;

  background-color: var(--very-dark-grey);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    /* font */
    font-family: "jetbrains";
    font-size: var(--font-body);
    text-align: center;
    color: var(--almost-white);
    box-sizing: border-box;
  }
}
.title {
  color: var(--grey);
}
.sectionGenerator {
  width: 540px;
  height: 632px;
  margin-top: var(--padding-regular);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 600px) {
    max-width: 343px;
    max-height: 540px;
    margin-top: 0;
  }
}
.generator {
  height: 528px;
  padding: 12px var(--padding-regular) var(--padding-regular);
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 600px) {
    padding: 12px var(--padding-regular-mobile) var(--padding-regular-mobile);
  }
}
.fontBody {
  font-size: var(--font-body);
  @media (max-width: 600px) {
    font-size: var(--font-body-mobile);
  }
}
.fontMedium {
  font-size: var(--font-medium);
  @media (max-width: 600px) {
    font-size: var(--font-medium-mobile);
  }
}
.fontLarge {
  font-size: var(--font-large);
  @media (max-width: 600px) {
    font-size: var(--font-large-mobile);
  }
}
.fontGrey {
  color: var(--grey);
}
.green {
  color: var(--green);
}
